local
myProject00
myProject00_nodejs
myProject00_scraping/cheerio-1.0.0
myProject00_scraping/puppeteer-master
package-lock.zip
myProject00_scraping/*.pdf
myProject00_scraping/*.json
myProject00_scraping/*.txt
myProject00_scraping/*.csv
myProject00_scraping/*.html
myProject00_scraping/infocif/*.js
myProject00_scraping/infocif/load*.*
myProject00_scraping/infocif/local/*.pdf
myProject00_scraping/infocif/local/*.json
myProject00_scraping/infocif/local/*.txt
myProject00_scraping/infocif/local/*.csv
myProject00_scraping/infocif/local/*.html
myProject00_scraping/infocif/local/view*.*
myProject00_scraping/infocif/online/*.pdf
myProject00_scraping/infocif/online/*.json
myProject00_scraping/infocif/online/*.txt
myProject00_scraping/infocif/online/*.csv
myProject00_scraping/infocif/online/*.html
myProject00_scraping/socialBlade/local/*.html
myProject00_scraping/socialBlade/online/*.html
myProject00_scraping/cnae/online/*.html
myProject00_scraping/cnae/online/*.cvs
myProject00_scraping/*.zip
