<div class="col-md-4 mx-auto">
    <div class="card text-center">
        <div class="card-header">
            <h3>Creación de una empresa</h3>
        </div>
        <div class="card-body">
            <form action="/detailsEmpresas/addEmpresa" method="POST">
                {{!-- <div class="from-group"><input type="text" name="name" id="name" required="true" class="form-control"
                        placeholder="Nombre de la empresa"></input></div> --}}
                {{!-- <div class="from-group"><input type="text" name="alternateName" id="alternateName" required="true" class="form-control"
                        placeholder="alternateName"></input></div> --}}
                <div class="from-group"><input type="text" name="alternateName" id="alternateName" class="form-control"
                        placeholder="alternateName"></input></div>
                <div class="from-group"><input type="text" name="logo" id="logo" class="form-control"
                        placeholder="logo"></input></div>
                <div class="from-group"><input type="text" name="image" id="image" class="form-control"
                        placeholder="image"></input></div>
                <div class="from-group"><input type="text" name="foundingDate" id="foundingDate" class="form-control"
                        placeholder="foundingDate"></input></div>
                <div class="from-group"><input type="text" name="foundingLocation" id="foundingLocation"
                        class="form-control" placeholder="foundingLocation"></input></div>
                <div class="from-group"><input type="text" name="isicV4" id="isicV4" class="form-control"
                        placeholder="isicV4"></input></div>
                <div class="from-group"><input type="text" name="numberOfEmployees" id="numberOfEmployees"
                        class="form-control" placeholder="numberOfEmployees"></input></div>
                <div class="from-group"><input type="text" name="taxID" id="taxID" class="form-control"
                        placeholder="taxID"></input></div>
                <div class="from-group"><input type="text" name="telephone" id="telephone" class="form-control"
                        placeholder="telephone"></input></div>
                <div class="from-group"><input type="text" name="description" id="description" class="form-control"
                        placeholder="description"></input></div>
                <div class="from-group"><input type="text" name="identifier" id="identifier" class="form-control"
                        placeholder="identifier"></input></div>
                <div class="from-group"><input type="text" name="propertyID" id="propertyID" class="form-control"
                        placeholder="propertyID"></input></div>
                <div class="from-group"><input type="text" name="founder" id="founder" class="form-control"
                        placeholder="founder"></input></div>
                <div class="from-group"><input type="text" name="jobTitle" id="jobTitle" class="form-control"
                        placeholder="jobTitle"></input></div>
                <div class="from-group"><input type="text" name="worksFor" id="worksFor" class="form-control"
                        placeholder="worksFor"></input></div>
                <div class="from-group"><input type="text" name="contactPoint" id="contactPoint" class="form-control"
                        placeholder="contactPoint"></input></div>
                <div class="from-group"><input type="text" name="telephone" id="telephone" class="form-control"
                        placeholder="telephone"></input></div>
                <div class="from-group"><input type="text" name="contactType" id="contactType" class="form-control"
                        placeholder="contactType"></input></div>
                <div class="from-group"><input type="text" name="areaServed" id="areaServed" class="form-control"
                        placeholder="areaServed"></input></div>
                <div class="from-group"><input type="text" name="availableLanguage" id="availableLanguage"
                        class="form-control" placeholder="availableLanguage"></input></div>
                <div class="from-group"><input type="text" name="url" id="url" class="form-control"
                        placeholder="url"></input></div>
                <div class="from-group"><input type="text" name="address" id="address" class="form-control"
                        placeholder="address"></input></div>
                <div class="from-group"><input type="text" name="addressLocality" id="addressLocality"
                        class="form-control" placeholder="addressLocality"></input></div>
                <div class="from-group"><input type="text" name="addressRegion" id="addressRegion" class="form-control"
                        placeholder="addressRegion"></input></div>
                <div class="from-group"><input type="text" name="postalCode" id="postalCode" class="form-control"
                        placeholder="postalCode"></input></div>
                <div class="from-group"><input type="text" name="streetAddress" id="streetAddress" class="form-control"
                        placeholder="streetAddress"></input></div>
                <div class="from-group">
                    <button class="btn btn-primary btn-block btn-sm">
                        Alta
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

{{!-- resto de campos del formulario

 <div class="from-group"><input type="text" name="name" id="name" class="form-control" placeholder="name"></input></div>
 <div class="from-group"><input type="text" name="// @type" id="" class="form-control" placeholder=""></input></div>
 <div class="from-group"><input type="text" name="value" id="" class="form-control" placeholder=""></input></div>
 <div class="from-group"><input type="text" name="// @type" id="" class="form-control" placeholder=""></input></div> 
 <div class="from-group"><input type="text" name="name " id="" class="form-control" placeholder=""></input></div>
 <div class="from-group"><input type="text" name="// @type" id="" class="form-control" placeholder=""></input></div> 
 <div class="from-group"><input type="text" name="name " id="" class="form-control" placeholder=""></input></div>
 <div class="from-group"><input type="text" name="// @type" id="" class="form-control" placeholder=""></input></div>
 <div class="from-group"><input type="text" name="// @type" id="" class="form-control" placeholder=""></input></div> --}}