<section class="card">
    <div class="card-body">
        <h1 class="display-3">About.hbs</h1>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur distinctio, adipisci error excepturi iusto exercitationem maiores autem! Fugit, nobis ut!</p>
    </div>
</section>