<div class="jumbotron.mt-4"></div>                  {{!-- clase jumbotron y clase margin top 4 de bootstrap para que tenga separación hacia arriba --}}
    <h1 class="display-3">Detalle de Empresas</h1>  {{!-- display => texto grande --}}
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, recusandae quae officiis enim dolor eveniet.</p>{{!-- lead  para que el texto sea bastante marcado y  lorem15--}}
    <hr class="my-4">{{!-- margins hacia el eje de y de 4 eso va a ser un espacio arriba y abajo  --}}
    <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus deserunt non nihil possimus aliquam iure repellat porro nam inventore aut!</p>
    <a href="http://www.soniacelis.es" class="btn btn-primay">sc</a>{{!-- btn btn-primary --}}